/* App.css */
@import '@fontsource/pretendard';
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* 바깥쪽 배경색 */
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Pretendard', sans-serif;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
}

.app-wrapper {
    max-width: 430px;
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-color: white; /* 내부 컨텐츠 배경색 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 선택적: 그림자 효과 */
}
